body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.forms{
  width: 50%;
}
.custForms{
  display: flex;
}

.pwField{
  display: flex;
}

.table{
  width: 80%;
}

.cartTables{
  width: 40%;
}


#cartPage{
  justify-content: center;
  display: flex;
  /* height: 100%; */
  width: 60%;
}

#cartPage_myCart{
  align-items: center;
  width: 70%;

}

#cartPage_FormC{
  position:sticky;
  top: 0;
  height: 80vh;
  width: 30%;
  border: 2px solid grey
}

#cartPage_Form{

  width: 100%;
  height: 100%;
  align-items: right;
  
}



#cartPage_Form1{
  height: 78%;
}


#cartPage_Form2{
  border-collapse: collapse;
  border: 1px solid grey
}

#cartPage_Form3{
  margin: 5px;
  text-align: center;
}