body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.forms{
  width: 50%;
}
.custForms{
  display: flex;
}

.pwField{
  display: flex;
}

.table{
  width: 80%;
}

.cartTables{
  width: 40%;
}

.addToCartLinkButt{
  color: #040404;
}

.contiuneShoppingButt{
  color:#040404;
}

.addToCartButt{
  background-color: rgb(116, 216, 238);
}

.itemcard{
  border: 2px solid rgb(202, 202, 202);
  width: 30%;
}

.quantityF{
  display: flex;
}